{% extends "InterWebApp/base.html" %}

{% block content %}
<main>
  <div class="container">


    <section class="text-center mb-4">

      <div class="row wow fadeIn">
        <h1>HI! WELCOME  </h1>
        <p class="text-center">I am writing to express my interest in applying for an internship at your organization. As a student pursuing B.tech, I am eager to gain hands-on experience in the field and develop my skills. I believe that an internship at your organization would provide me with the ideal opportunity to do so.

          With Django, I am confident in my ability to contribute to the team at your organization. I am particularly interested in the Web_dev. as it aligns with my career goals and academic background.
          
          I am highly motivated and would bring a strong work ethic and a positive attitude to the internship. I am also a quick learner and am eager to take on new challenges.
          
          I would be grateful for the opportunity to discuss my application further in an interview. Please find my resume attached for your consideration.
          
          Thank you for taking the time to read my application. I look forward to the opportunity to contribute my skills and gain valuable experience at your organization.</p>

      </div>

    </section>



  </div>
</main>

{% endblock content %}


