{% extends "InterWebApp/base.html" %}



{% block content %}

<main>
  <div class="container">


    <section class=" mb-4">
      
      <h1 class="text-center">Welcome to the Patient Dashboard</h1>

      <div class="row wow fadeIn ">
        <p class="text-center"> Your details are as follows:</p>
        <ul>
          <li>First Name: {{ user.first_name }}</li>
          <li>Last Name: {{ user.last_name }}</li>
          <li>Username: {{ user.username }}</li>
          <li>Email: {{ user.email }}</li>
          <li>Address: {{ user.address.line1 }}, {{ user.address.city }}, {{ user.address.state }}, {{ user.address.pincode }}</li>
        </ul>

      </div>

    </section>



  </div>
</main>


{% endblock %}


